.toast-container .toast {
  display: block !important;
  transform: translateY(100%);
  opacity: 0;
  transition:
    transform 0.3s ease-out,
    opacity 0.3s ease-out;

  &.show {
    transform: translateY(0);
    opacity: 1;
  }
}
