body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #415e74;
  background-image: linear-gradient(to bottom right, #09203f 20%, #415e74 100%);
  background-size: cover;
  background-repeat: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.navbar-brand {
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
}

.navbar-dark {
  background-color: #1a237e;
  background-image: linear-gradient(#1e2993 0, #1a237e 90%);
}

.navbar-dark a {
  color: #e5dc81;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
.navbar-dark,
.navbar-dark a:hover {
  color: #e5dc81;
}

.clickable {
  cursor: pointer;
  user-select: none;
}

.clickable:hover {
  text-decoration: underline;
}

.strike {
  text-decoration: line-through;
  opacity: 0.6;
}

.strike:hover {
  text-decoration: line-through underline;
}

.list {
  list-style-type: none;
  font-size: 17px;
  padding-left: 20px;
  margin-bottom: 1rem;

  li {
    line-height: 1.1rem;
    min-height: 1.5rem;
  }
}

.chat-box {
  min-height: 14em;
}

.border-rounded-bottom-left {
  border-radius: 0 0 0 4px;
}

.border-rounded-bottom-right {
  border-radius: 0 0 4px 0;
}
