name: Validate PR

on:
  push:
    branches: ["main"]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: ["main"]

jobs:
  validate:
    name: Run Lint and Build steps
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write
      actions: read # only required for a private repository by github/codeql-action/upload-sarif to get the Action run status
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          corepack enable
          pnpm install

      - name: Run Lint
        run: pnpm run lint
        continue-on-error: true

      - name: Run Storybook Smoke Test
        run: pnpm run storybook --ci --smoke-test
        continue-on-error: true

      - name: Run Build
        run: pnpm run build
